http {
  upstream workers {
{{range gets "/services/workers/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}}
{{end}}
  }

  server {
    listen {{ getv "/lb_port" }};
    location / {
        proxy_pass http://workers;
        health_check;
    }
  }
}
