http {
  upstream workers {
{% for worker in workers %}
    server {{ worker.host }}:{{ worker.port }} {{ worker.options }};
{% endfor %}
  }

  server {
    listen {{ lb_port }};
    location / {
        proxy_pass http://workers;
        health_check;
    }
  }
}
