version: "3"
services:
  configuration-store:
    build: ./etcd
    networks:
      config:
        aliases:
          - cstore
  load-balancer:
    ports:
      - "127.0.0.1:80:80"
    build: ./nginx
    networks:
      - config
      - fetchers
    depends_on:
      - configuration-store
      - fetcher
  queue:
    image: redis:alpine
    networks:
      fetchers:
        aliases:
          - queue
      processors:
        aliases:
          - queue
  fetcher:
    build: ./fetcher
    networks:
      - fetchers
    depends_on:
      - configuration-store
      - queue
  processor:
    build: ./processor
    networks:
      - processors
    depends_on:
      - queue
networks:
  config:
  fetchers:
  processors:

